﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link type="text/css" rel="stylesheet" href="~/css/cl.css" />
<body>

<center>
<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">E-mail</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your E-mail..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Affair</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your affair..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
     
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
</center>
</body>
