﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link type="text/css" rel="stylesheet" href="~/css/red.css" />
<body>

  <center>
    <div class="page">
      <div class="title">
        <img class="portrait" src="~/images/a.jpg" alt="John Smith" />
        <div class="self">
          <h1 class="name">Paul Belches
            <br />
            <span class="subname">Personal Information</span>
          </h1>
          <ul>
            <li class="ad">5ta Ave "E" 12-11 zona 8 de Mixco</li>
            <li class="mail">paulbelches@gmail.com</li>
            <li class="tel">+502 42791208</li>
          </ul>
        </div>
      </div>
      <section>
        <div class="entry">
          <h2>OBJECTIVE</h2>
          <p>Develop in the best way possible in every activity that I take a part of, with the end in mind of accomplish everything that has been established, also providing the knowledge that I have acquire with the purpose of making an excellent gob.   </p>
        </div>
      </section>
      <section>
        <div class="entry">
          <h2>EDUCATION</h2>
          <div class="content">
            <h3>University (2017-Today)</h3>
            <p>Del Valle de Guatemala University
              <br />
              <em>Ing. Ciencias de la Computación y TI</em>
              <em>61 credits obtein</em>
            </p>
          </div>
          <div class="content">
            <h3>School (2002-2016)</h3>
            <p>Colegio Suizo Americano
              <br />
              <em>Bachillerato en Ciencias y Letras con Orientación en Computación</em>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="entry">
          <h2>EXTRA STUDIES</h2>
          <div class="content">
            <p>San Carlos de Guatemala University
              <br />
              <em>GERMAN</em>
              <em>Course No.8 approved</em>
            </p>
          </div>

        </div>
      </section>
      <section>
        <div class="entry">
          <h2>EXPERIENCE</h2>
          <div class="content">
            <h3>Intership</h3>
            <p>Work as web developer in InterNaciones University</p>
          </div>
          <div class="content">
            <h3>Intership</h3>
            <p>Work digitizing blue prints from Internet newtworks</p>
          </div>
        </div>
      </section>
      <section>
        <div class="entry">
          <h2>REFERENCES</h2>
          <p>Ing. Rafael Sandoval, Gerente General, Buena Vista S.A, Tel. 23241928. Correo electrónico: rafaelsandoval@hotmail.com.
          </p>
        </div>
      </section>
      
      <section>
        <div class="entry">
          <h2>OTHER ACTIVITIES</h2>
          <p>
            Member of the national asociation of Softball ASOSOFT y and the autonomus sports confederacy CDAG since 2010</p>
        </div>
      </section>

       <section>
        <div class="entry">
          
        </div>
      </section>
    </div>
  </center>
</body>
