<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><!--Adapting screen -->
    <title>Paul Belches - @ViewData["Title"] </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" asp-page="/Index">Paul Belches</a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link" asp-page="/Index2" id="navbar" >
        Contact
      </a>
    </li>
  </ul>
</nav>

<div class="container body-content">
  @RenderBody()
  <hr />
</div>

  
</body>
</html>
